<html>

<head>
    <title>
        <%= title %>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="/css/header.css">
    <%- style %>

</head>

<body>
    <header>
        <%- include('_header'); %>
    </header>
    <main>
        <%- body %>
    </main>

    <%- script %>

</body>

</html>